<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="leo_ros2_control_ignition"
               params="name initial_positions_file">

    <xacro:property
      name="initial_positions"
      value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <!-- ros2_control system -->
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="robot1_shoulder_pan_joint">
        <command_interface name="position"/>
        <state_interface name="position">
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="robot1_shoulder_lift_joint">
        <command_interface name="position"/>
        <state_interface name="position">
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="robot1_elbow_joint">
        <command_interface name="position"/>
        <state_interface name="position">
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="robot1_wrist_1_joint">
        <command_interface name="position"/>
        <state_interface name="position">
         
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="robot1_wrist_2_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['robot1_wrist_2_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="robot1_wrist_3_joint">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['robot1_wrist_3_joint']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <!-- Gazebo Fortress ros2_control model plugin -->
  <gazebo>
  <plugin
    name="ign_ros2_control::IgnitionROS2ControlPlugin"
    filename="ign_ros2_control-system">
    <parameters>
      $(find my_robot_moveit_config)/config/controllers.yaml
    </parameters>
  </plugin>
</gazebo>

  </xacro:macro>

</robot>
