<?xml version="1.0"?>
<robot name="leo" xmlns:xacro="http://ros.org/wiki/xacro">

 

  <!-- Include Robot Macros -->
  <xacro:include filename="$(find ur_description)/urdf/ur5_macro.xacro"/>
  <xacro:include
    filename="$(find my_robot_moveit_config)/config/ros2_control_ignition.xacro"/>


    
  
  <xacro:ur5 prefix="robot1_"/>
  

  

 
  




   <xacro:leo_ros2_control_ignition
    name="Robot1System"
    initial_positions_file="$(find my_robot_moveit_config)/config/initial_positions.yaml"/>


  <!-- Tables and camera can be included here, omitted for brevity -->
</robot>

    